<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.common.domain.mapper.SysUserMapper">

    <select id="selectPageList" resultType="com.framework.common.domain.entity.SysUser">
        SELECT * FROM sys_user
        WHERE
            1 = 1
        <if test="qo.userName != null and qo.userName !=''">
            and user_name LIKE CONCAT('%', #{qo.userName, jdbcType=VARCHAR}, '%')
        </if>
            and del_flag = '0'
        ORDER BY create_time
    </select>

    <update id="updateSysUser">
        UPDATE sys_user
        <set>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="email != null ">email = #{email},</if>
            <if test="phonenumber != null ">phonenumber = #{phonenumber},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>
